WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
WORKOS_REDIRECT_URI=http://localhost:3000/callback

CODEPET_WORKOS_ORG_ID=
CODEPET_ADMIN_EMAILS=
CODEPET_STUDENT_ROLE_SLUG=student
CODEPET_ADMIN_ROLE_SLUG=admin
